.navbar {
    display: block;
    text-align: center;
}

body {
    font-family: 'fraunces', serif;
}

.parallax {
    min-height: 100vh;
    min-width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.parallax-img {
    /* background-image: url(/Users/kayodeoyinlola/Documents/GitHub/oyinlolakayode.github.io/BOOK REVIEW WEBSITE/hero.jpg); */
    text-align: left;
}

.hero-headline {
    margin: 15rem;
    margin-left: 60rem;
    color: black;
    display: block;
}

.hero-inner {
    display: flex;
    justify-content: left;
    align-items: right;
}

.container {
    width: 100%;
    padding: 2rem;

}

.navbar {
    background-color: black;
    font-size: 700;
}
